.conteiner-testimonio {
  width: 100%;

  padding-bottom: 5em;
  .test1 {
    margin-left: 10%;
  }
  .bg-testimonios {
    width: 80%;
    background-color: $DarkBlue-tets;
    margin: 0em auto;
    border-radius: 15px;
    margin-bottom: 2em;
    p {
      color: $White;
      padding: 1em;
    }
    .flex {
      display: flex;
    }
    div img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: inline;
      padding: 1em 1em;
    }
    .conteiner_p {
      display: flex;
      flex-direction: column;
      padding: 0em;
      p {
        margin: 0 0;
        padding: 0em;
        font-weight: 300;
      }
      .weidth-p {
        margin: 0.2em 0;
        margin-top: 1.2em;
        font-weight: 700;
        font-size: 25px;
      }
    }
  }
}
footer {
  font-family: "Raleway", sans-serif;
  .conteiner-footer {
    background-color: $DarkBlue-main;
    background-size: 10%;
    .susb {
      box-sizing: border-box;
      width: 80%;
      margin: 0 auto;
      padding-bottom: 3px;
      background-color: $DarkBlue-tets;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      .h2-h2 {
        text-align: center;
        color: $White;
        padding: 1em 1em 0 1em;
      }
      .p-p {
        color: $White;
        text-align: center;
        padding: 1em 1.5em;
        box-sizing: border-box;
        font-size: 16px;
      }
    }
  }
  .conteiner-inputs {
    background-color: $DarkBlue-footer;
    .inputs {
      width: 80%;
      margin: 0 auto;
      padding-bottom: 3em;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      margin-bottom: 3em;
      padding-top: 3px;
      background-color: $DarkBlue-tets;
      box-sizing: border-box;
      input {
        width: 70%;
        margin: 1em auto;
        height: 50px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        border: none;
      }
      .email {
        margin-top: 0;
        text-align: center;
        border: none;
        box-sizing: border-box;
        outline: none;
      }

      .email::placeholder {
        color: $Cyan;
      }
      .btn {
        background-color: $Cyan;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $White;
        outline: none;
      }
      .btn:hover {
        background-color: $White;
        color: $Cyan;
      }
    }
    .final {
      display: flex;
      flex-direction: column;
      img {
        width: 30%;
        margin: 2% 2% 2% 10%;
      }
      div label {
        display: flex;
        align-items: flex-start;
        margin: 1em;
        margin-left: 0;

        .logo-footer {
          width: 3%;
          margin-left: 80px;
        }
        .text {
          color: $White;
          width: 60%;
          margin: auto 8px;
        }
      }
    }
  }
}
.about {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
    color: $White;
    margin: 1em;
    margin-left: 60px;
    padding: 1em;
    border-radius: 15px;
  }
  a:hover {
    background-color: $White;
    color: $DarkBlue-footer;
  }
}

.redes {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5em;
  margin-bottom: 0;
  a {
    padding-bottom: 2em;
    img {
      padding: 0.5em;
      border: 1px solid $White;
      border-radius: 50%;
      border-color: $White;
    }
  }
}
.logo-fin {
  width: 30%;
  margin: 2em 0 3em 80px;
}
